<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.phone_monitor">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Network Info -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network Info -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- WiFI Info -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SIM Info / Phone # -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Location Info -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Location Info -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
